---
export type Props = {
  retos: string[]
}

const { retos = [] } = Astro.props
---

<ul id="challenge-list" class="space-y-2 mt-4 flex flex-col">
  {
    retos.map((challenge) => (
      <li class="p-2 rounded bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100">
        {challenge}
      </li>
    ))
  }
</ul>

<script>
  // listen custom event to update retos
  const list = document.getElementById("challenge-list")

  document.addEventListener("challenge-added", function (e) {
    const challenge = (e as CustomEvent).detail.challenge
    // add new challenge to the list
    const li = document.createElement("li")
    li.setAttribute(
      "class",
      "p-2 rounded bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100"
    )
    li.textContent = challenge
    list?.appendChild(li)
  })
</script>