---
const { currentUser } = Astro.locals; // Usamos locals
if (!currentUser) {
  return new Response(null, { status: 401 }); // Respuesta no autorizada [15]
}
const userId = currentUser.id;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>


---
// Script setup
---
<style is:global>
  @import 'tailwindcss/base';
  @import 'tailwindcss/components';
  @import 'tailwindcss/utilities';
  /* O la importación específica que apunta a los estilos */
</style>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
